---
import '@/css/activities.css'
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro';
interface Props {
    name: string,
    date: string,
    hour: string,
    place: string,
    excerpt: string,
    description: string,
    thumb: ImageMetadata
}

const {name, description, excerpt, thumb, hour, place, date} = Astro.props
---
<div class="activities-card">
    <div class="activities-card-info">
        <p>{description}</p>
        <p><strong>Fecha:</strong> {date}</p>
        <p><strong>Lugar:</strong> {place}</p>
        <p><strong>Hora:</strong> {hour}</p>
    </div>
    <div class="activities-card-content">
        <div class="activities-card--image">
            <Image src={thumb} alt="Kids playing" quality={100} width={300} height={200}/>
        </div>
        <div class="activities-card--tittle">
            <h3 set:html={name}></h3>
        </div>
        <div class="activities-card--text">
            <p>{excerpt}</p>
        </div>
        <div class="activities-more">
            <button class="card-btn">Ver más</button>
        </div>
    </div>
</div>
