---
import '@/css/testimonies.css'
import Star from '@/assets/star.svg'
//import reviewsData from "@/content/reviews.json"
import {Image} from "astro:assets"
import type { ImageMetadata } from 'astro'
import TestimonyOneImage from '@/assets/oldwoman-portrait.webp'
import TestimonyTwoImage from '@/assets/portrait-woman.webp'
import TestimonyThreeImage from '@/assets/portrait-man.webp'


//const {result} = reviewsData;
//const {reviews} = result;

const reviews = [
    {
        id: 1,
        name: "John Doe",
        rating: 5,
        text: "Great service!",
        time: 1672444800,
        thumb:TestimonyOneImage
    },
    {
        id: 2,
        name: "Mary Jane",
        rating: 4,
        text: "Great service!",
        time: 1672444801,
        thumb:TestimonyTwoImage
    },
    {
        id: 3,
        name: "Peter Parker",
        rating: 3,
        text: "No hay un mejor servicio!",
        time: 1672444801,
        thumb:TestimonyThreeImage
    },
    {
        id: 4,
        name: "Peter Parker",
        rating: 3,
        text: "No hay un mejor servicio!",
        time: 1672444801,
        thumb:TestimonyThreeImage
    },
    {
        id: 5,
        name: "Peter Parker",
        rating: 3,
        text: "No hay un mejor servicio!",
        time: 1672444801,
        thumb:TestimonyThreeImage
    }
];

const maxReviews = 3;
const limitedReviews = reviews.slice(0, maxReviews)
---

<section class="testimonies_section">
    <div class="testimonies_container" id="container">
        {limitedReviews.length > 0 ? (
            <>
            {limitedReviews.map(review => (
            <div class="testimonies" id={`slide_${review.id}`}>
                <span class="thumb"><Image src={review.thumb} width= {250} height= {250} alt={review.name}/></span>
                <h3>{review.name}</h3>
                <p class="subtitle">Madre de Familia</p>
                <p class="pharagraph">{review.text}</p>
                <div class="stars_container">
                    {review.rating == 5 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                    ): review.rating == 4 ?(
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>  
                    ): review.rating == 3 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>      
                    ) : review.rating == 2 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>  
                    ) : review.rating == 1 ? (
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                    ) :
                    null  
                    }
                </div>
            </div>
            ))}
            </>
            ) : (
                <p> No hay testimonios</p>
        )}
    </div>
    <div class="slider_btns">
        <a href="#slide_1">1</a>
        <a href="#slide_2">2</a>
        <a href="#slide_3">3</a>
    </div>
</section>
<script>
    function toggleClassInViewportRange(elementSelector:string, className: string, minWidth: number, maxWidth: number)  {
    function updateClass() {
        const element = document.querySelector(elementSelector);
        if (!element) return;
        
        const viewportWidth = window.innerWidth;
        if (viewportWidth >= minWidth && viewportWidth <= maxWidth) {
            element.classList.add(className);
        } else {
            element.classList.remove(className);
        }
    }
    
    window.addEventListener('resize', updateClass);
    window.addEventListener('load', updateClass);
    updateClass(); // Initial check
}

// Example usage
toggleClassInViewportRange(".slider_btns", "active", 350, 1024);

</script>