---
import '../css/testimonies.css'
import Star from '../assets/star.svg'
import reviewsData from "../content/reviews.json"
import {Image} from "astro:assets"

const {result} = reviewsData;
const {reviews} = result;
const maxReviews = 3;
const limitedReviews = reviews.slice(0, maxReviews)
---

<section class="testimonies_section">
    <div class="testimonies_container" id="container">
        {limitedReviews.length > 0 ? (
            <>
            {limitedReviews.map(review => (
            <div class="testimonies">
                <span class="thumb"><Image src={review.thumb} width= {150} height= {150} alt={review.author_name}/></span>
                <h3>{review.author_name}</h3>
                <p class="subtitle">Madre de Familia</p>
                <p class="pharagraph">{review.text}</p>
                <div class="stars_container">
                    {review.rating == 5 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                    ): review.rating == 4 ?(
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>  
                    ): review.rating == 3 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>      
                    ) : review.rating == 2 ? (
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#FFB200"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>  
                    ) : review.rating == 1 ? (
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                        <span><Star fill="#000000"/></span>
                    ) :
                    null  
                    }
                </div>
            </div>
            ))}
            </>
            ) : (
                <p> No hay testimonios</p>
        )}
    </div>
</section>
<script>

</script>